rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in ["ashish355333ku@gmail.com", "bhairamdeen75@gmail.com"];
    }

    match /apps/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /screenshots/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
